{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <style>
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
      <nav>
    <div class="logo-box">
      <h1 class="logo">
        <a href="/">
         <img src="{% static "img/logo.png" %}" alt="FOR YOU"/>
        </a>
      </h1>
    </div>
    <ul>
      <li><a href="/">Рецепты</a></li>
      <li><a href="/">Интересное</a></li>
      <li><a href="/">Магазин</a></li>
      <li><a href="/">Поделиться рецептом </a></li>
   </ul>
  </nav>
</head>
<body>
{ background: white url("img/background_bottom.png") no-repeat right bottom;
}
<div class="row" align="center">
{% block article %}{% endblock %}
</div>

<div id="footer">
    <p>Все права принадлежат разработчику сайта Широкову А.И и дизайнеру Широковой О.Г. </p>
</div>
</body>
</html>